/FunctionApiKeys/Properties/PublishProfiles/FunctionsSecurity - Zip Deploy.pubxml
/FunctionApiKeys/Properties/serviceDependencies.FunctionsSecurity - Zip Deploy.json
/FunctionApiKeys/Properties/ServiceDependencies/FunctionsSecurity - Zip Deploy/profile.arm.json
/FunctionApiKeys/Properties/ServiceDependencies/FunctionsSecurity - Zip Deploy/storage1.arm.json
/FunctionCertificate/Properties/serviceDependencies.json
/FunctionCertificate/Properties/serviceDependencies.local.json
/.vs
**/bin
**/obj
/NeworkSecurity/FunctionNeworkSecurity/Properties/PublishProfiles/FunctionNeworkSecurity - Zip Deploy.pubxml
/NeworkSecurity/FunctionNeworkSecurity/Properties/ServiceDependencies/FunctionNeworkSecurity - Zip Deploy/profile.arm.json
/NeworkSecurity/WebAppNeworkSecurity/Properties/PublishProfiles/WebAppNeworkSecurity - Web Deploy.pubxml
/NeworkSecurity/WebAppNeworkSecurity/Properties/PublishProfiles/WebAppNeworkSecurity - Web Deploy.pubxml.user
/NeworkSecurity/WebAppNeworkSecurity/Properties/ServiceDependencies/WebAppNeworkSecurity - Web Deploy/profile.arm.json
/NeworkSecurity/WebAppNeworkSecurity/WebAppNeworkSecurity.csproj.user
/FunctionCertificates/FunctionCertificate/Properties/PublishProfiles/FunctionCertificate20240704202458 - Zip Deploy.pubxml
/FunctionCertificates/FunctionCertificate/Properties/serviceDependencies.FunctionCertificate20240704202458 - Zip Deploy.json
/FunctionCertificates/FunctionCertificate/Properties/ServiceDependencies/FunctionCertificate20240704202458 - Zip Deploy/appInsights1.arm.json
/FunctionCertificates/FunctionCertificate/Properties/ServiceDependencies/FunctionCertificate20240704202458 - Zip Deploy/storage1.arm.json
