/FunctionApiKeys/Properties/PublishProfiles/FunctionsSecurity - Zip Deploy.pubxml
/FunctionApiKeys/Properties/serviceDependencies.FunctionsSecurity - Zip Deploy.json
/FunctionApiKeys/Properties/ServiceDependencies/FunctionsSecurity - Zip Deploy/profile.arm.json
/FunctionApiKeys/Properties/ServiceDependencies/FunctionsSecurity - Zip Deploy/storage1.arm.json
/FunctionCertificate/Properties/serviceDependencies.json
/FunctionCertificate/Properties/serviceDependencies.local.json
/.vs
**/bin
**/obj
