@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-4">Get some random string from the Functions API</h4>
    <p>@Model.RandomString</p>
</div>
