<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functioncertificate20200829221633.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1f943d6c-66d4-4c2f-a158-e6b99fcec7a2/resourcegroups/rg-function-certificate1/providers/Microsoft.Web/sites/FunctionCertificate20200829221633</ResourceId>
    <UserName>$FunctionCertificate20200829221633</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functioncertificate20200829221633.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>